/*!
Theme Name: Stone Appeal
Theme URI: http://underscores.me/
Author: Corey Bush
Author URI: http://www.mediapostinc.com
Description: A theme for Stone Appeal
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: stone-appeal
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Stone Appeal is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
--------------------------------------------------------------*/
body {
  background: #1f2328;
  color: #161616;
  padding: 0;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mrs-eaves-roman-small-caps', serif;
  color: #59592b;
}

p, label {
  font-family: 'proxima-soft', sans-serif;
  font-weight: 300;
  line-height: 24px;
  font-size: 16px;
}

label {
	font-size: 14px;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #adac9c;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

/** Header/Nav **/

header {
  margin-bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

header.home-header {
  margin-bottom: 50px;
}

nav {
  max-width: 1280px;
  margin: 0 auto;
  display: block;
}

nav ul {
  text-align: right;
}

.logo img {
  max-width: 150px;
  max-height: 150px;
}

nav ul.full-menu li {
  display: none;
  list-style-type: none;
  color: #fff;
  font-family: 'mrs-eaves-roman-small-caps', serif;
  font-weight: 300;
  font-size: 14px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  position: relative;
  padding-bottom: 8px;
}

nav ul li a:before, nav ul li a:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #59592b;
}

nav ul li a:before {
  opacity: 0;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s, -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul li a:after {
  opacity: 0;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul li a:hover:before, a:hover:after, a:focus:before, a:focus:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

nav ul li a:hover:before, nav ul li a:focus:before {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav ul li a:hover:after, nav ul li a:focus:after {
  -webkit-transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s, -webkit-transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: #fff;
}

.mobile-menu-btn {
  float: right;
}

@media screen and (min-width: 1200px) {

  .nav-col ul.full-menu li {
    display: inline-block;
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-slide-out {
    display: none;
  }

}

.mobile-slide-out {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5,5,5,0.9);
  z-index: 9999;
}

.mobile-slide-out.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-slide-out ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}

.mobile-slide-out ul li {
  padding: 10px;
  font-family: 'mrs-eaves-roman-small-caps', serif;
}

.close-btn {
  font-size: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.page-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  color: #fff;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  font-family: 'mrs-eaves-roman-small-caps', serif;
  /* text-transform: uppercase; */
}

.page-title::before {
  content: '';
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.nav-container .current-menu-item:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background: #adac9c;
  position: relative;
  top: -5px;
  transform: rotate(45deg);
  margin: 0 auto;
}

/** Home content **/

#DiamondSVG {
  width: 100%;
  height: auto;
}

.diamond-overlay {
  opacity: 0;
  fill: #4a4b2f;
  transition: 0.3s;
}

.diamond-text {
  opacity: 0;
  fill: #fff;
  font-family: 'mrs-eaves-roman-small-caps', serif;
  transition: 0.3s;
  font-size: 21px;
}

.diamond-text.fadeIn {
  opacity: 1;
  transition: 0.3s;
  fill: #fff;
}

.diamond-overlay.fadeIn {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

/** Footer **/

footer {
  padding: 20px;
  background: #1f2328;
  color: #fff;
  font-family: 'proxima-soft', sans-serif;
}

.footer-row {
  max-width: 1280px;
  margin: 0 auto;
}

.footer-row img {
  width: 150px;
}

.footer-row {
  font-size: 14px;
}

ul.footer-ul {
  list-style-type: none;
}

ul.footer-ul li {
  padding-bottom: 5px;
}

/** Inner Pages **/

#content {
  background: #fff;
  display: block;
  overflow: hidden;
  padding: 30px 10px;
}

.inner-content-heading {
  position: relative;
  margin-top: 60px;
  margin-bottom: 50px;
}

.inner-content-heading h2 {
  margin: 0;
  /* text-transform: uppercase; */
}

.inner-content-heading::before, .inner-content-heading::after {
  content : "";
  position: absolute;
  height  : 2px;
  left: 25%;
  width   : 50%;  /* or 100px */
  border-bottom:2px solid #59592b;
}

.inner-content-heading::before {
  top: -15px;
}

.inner-content-heading::after {
  bottom: -15px;
}

.inner-content-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

/** Contact form **/
textarea {
	height: 200px;
}

input, textarea {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

input:not([type="file"]), textarea {
	border: 2px solid #adac9c;
}

input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 25px;
	width: 100%;
	background: #59592b;
	color: #fff;
	padding: 10px;
	box-sizing: border-box;
	border: 0;
	transition: 0.3s;
}


input[type="submit"]:hover {
	background: #adac9c;
	cursor: pointer;
	transition: 0.3s;
}
